<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coca.mapper.ActualSalesCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.coca.model.ActualSales" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACTUAL_YEAR" property="actualYear" jdbcType="VARCHAR" />
    <result column="FULL_CODE" property="fullCode" jdbcType="VARCHAR" />
    <result column="BP_CODE" property="bpCode" jdbcType="VARCHAR" />
    <result column="BP_NAME" property="bpName" jdbcType="VARCHAR" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
    <result column="BRAND" property="brand" jdbcType="VARCHAR" />
    <result column="PP_CODE" property="ppCode" jdbcType="VARCHAR" />
    <result column="PP_NAME" property="ppName" jdbcType="VARCHAR" />
    <result column="BG" property="bg" jdbcType="VARCHAR" />
    <result column="PC_CODE" property="pcCode" jdbcType="VARCHAR" />
    <result column="PC_NAME" property="pcName" jdbcType="VARCHAR" />
    <result column="JAN" property="jan" jdbcType="VARCHAR" />
    <result column="FEB" property="feb" jdbcType="VARCHAR" />
    <result column="MAR" property="mar" jdbcType="VARCHAR" />
    <result column="APR" property="apr" jdbcType="VARCHAR" />
    <result column="MAY" property="may" jdbcType="VARCHAR" />
    <result column="JUN" property="jun" jdbcType="VARCHAR" />
    <result column="JUL" property="jul" jdbcType="VARCHAR" />
    <result column="AUG" property="aug" jdbcType="VARCHAR" />
    <result column="SEP" property="sep" jdbcType="VARCHAR" />
    <result column="OCT" property="oct" jdbcType="VARCHAR" />
    <result column="NOV" property="nov" jdbcType="VARCHAR" />
    <result column="DECE" property="dece" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="batchInsertActualSalesData">
    insert into actual_sales
    (ID,ACTUAL_YEAR,FULL_CODE,BP_CODE,BP_NAME,CATEGORY,BRAND,PP_CODE,PP_NAME,BG,PC_CODE,PC_NAME,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DECE,CREATE_TIME,CREATE_BY,UPDATE_TIME)
    values
    <foreach collection="list" index="index" item="includeColumn" separator="," >
      (#{includeColumn.id},
      #{includeColumn.actualYear},
      #{includeColumn.fullCode},
      #{includeColumn.bpCode},
      #{includeColumn.bpName},
      #{includeColumn.category},
      #{includeColumn.brand},
      #{includeColumn.ppCode},
      #{includeColumn.ppName},
      #{includeColumn.bg},
      #{includeColumn.pcCode},
      #{includeColumn.pcName},
      #{includeColumn.jan},
      #{includeColumn.feb},
      #{includeColumn.mar},
      #{includeColumn.apr},
      #{includeColumn.may},
      #{includeColumn.jun},
      #{includeColumn.jul},
      #{includeColumn.aug},
      #{includeColumn.sep},
      #{includeColumn.oct},
      #{includeColumn.nov},
      #{includeColumn.dece},
      #{includeColumn.createTime},
      #{includeColumn.createBy},
      #{includeColumn.updateTime})
    </foreach >
  </insert>

  <update id="batchUpdateActualSalesData">
    UPDATE actual_sales
    <if test="bigMonth>=1" >
      set jan = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.jan}
      </foreach>
      end
    </if>
    <if test="bigMonth>=2" >
      ,feb = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.feb}
      </foreach>
      end
    </if>
    <if test="bigMonth>=3" >
      , mar = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.mar}
      </foreach>
      end
    </if>

    <if test="bigMonth>=4" >
      , apr = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.apr}
      </foreach>
      end
    </if>

    <if test="bigMonth>=5" >
      , may = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.may}
      </foreach>
      end
    </if>

    <if test="bigMonth>=6" >
      , jun = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.jun}
      </foreach>
      end
    </if>

    <if test="bigMonth>=7" >
      , jul = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.jul}
      </foreach>
      end
    </if>

    <if test="bigMonth>=8" >
      , aug = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.aug}
      </foreach>
      end
    </if>

    <if test="bigMonth>=9" >
      , sep = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.sep}
      </foreach>
      end
    </if>

    <if test="bigMonth>=10" >
      , oct = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.oct}
      </foreach>
      end
    </if>

    <if test="bigMonth>=11" >
      , nov = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.nov}
      </foreach>
      end
    </if>

    <if test="bigMonth>=12" >
      , dece = CASE full_code
      <foreach collection="list" index="index" item="includeColumn">
        WHEN #{includeColumn.fullCode} then #{includeColumn.dece}
      </foreach>
      end
    </if>

    WHERE full_code in
    <foreach collection="list" index="index" item="includeColumn" open="(" close=")" separator="," >
      #{includeColumn.fullCode}
    </foreach>

  </update>
</mapper>