.choose-file{
	width: 102px;
	height: 33px;
	border-radius: 5px;
	color: white;
	background: #5E5E5E;
	border: 0px;
	margin-left: 50px;
	margin-top: 20px;
}
.choose-file:hover{
	background: #E0301E;
	cursor: pointer;
}
.file-detail{
	padding-right: 30px;
	margin-left: 30px;
	border-right: 1px solid gainsboro;
}
.cover-import,.add-import,.delete-import{
	width: 102px;
	height: 33px;
	background: #E0301E;
	cursor: pointer;
	border: none;
	color: white;
	border-radius: 5px;
	margin-left: 20px;
}
.delete-import{
	width: 80px;
	background: #A32020;
}
.all-btn{
	display: inline-block;
	vertical-align: super;
	position: absolute;
	right: 50px;
	margin-top: 20px;
}
.plan-data{
	padding-left: 50px;
	padding-right: 50px;
}
.report-data{
	padding-left:50px;
	padding-right: 50px;
}
#business-plan-report-page{
	padding-left:50px;
}


/**
	Business Plan 搜索框样式
 */
#business-plan-sousuo > div{
	display: inline-block;
}
.business-plan-sousuo-label{
	padding-left: 6px !important;
	padding-right: 6px !important;
	width: 80px !important;
}
.business-plan-sousuo-select{
	width: 120px !important;
}
.business-plan-sousuo-btn{
	float: left;
	display: block;
	padding: 7px 15px;
	width: 80px;
	font-weight: 400;
	line-height: 20px;
	text-align: center
}
.business-plan-sousuo-all{
	border: 1px solid #C0C0C0;
	padding-top: 15px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 10px;
}
.business-plan-sousuo-all form{
	margin:auto !important;
}


